<div class="parallax-image-wrapper" data-anchor-target="#page-intro" data-bottom-top="transform:translateY(200%)"
  data-top-bottom="transform:translateY(0)">

  <div class="parallax-image"
    style="background-image:url(assets/img/bck/abstract-numbers-wallpaper-51114-52810-hd-wallpapers.jpg)"
    data-anchor-target="#page-intro" data-bottom-top="transform: translateY(-80%);"
    data-top-bottom="transform: translateY(80%);">

  </div>
</div>

<div id="skrollr-body">

  <!-- <div id="page-intro" class="gap" style="background-image:url(assets/img/razitko-letadlem.svg); "> -->
  <div id="page-intro" class="gap" style="background-image:url(assets/img/razitko-letadlem.svg); background-repeat: no-repeat; background-size: auto;">
    <h1>
      <p style="color: #B44;">
        <img src="assets/img/redSoft-192x192.png" width="64px" height="64px">
        <strong> redSoft</strong>
      </p>
      Awesome Website
    </h1>
    <!-- <a href="https://tutorialzine.com/2015/09/6-practical-examples-for-building-parallax-websites/" class="btn">Download it</a> -->
    <!-- <button class="btn" (click)="goDown()">See more...<br><i class="material-icons">arrow_downward</i></button> -->
    <button class="btnrounded" (click)="goToNextSection()"><i class="material-icons">arrow_downward</i></button>
  </div>

</div>