<div class="gallery"></div>

<div class="scroll-pause" data-anchor-target=".gallery" data-100p-top-top="transform:translateY(100%);"
  data-top-top="transform:translateY(0%)" data--150p-top-top="" data--300p-top-top="transform:translateY(-100%)">

  <div class="row" data-anchor-target=".gallery" data-top-top="transform: translateX(0%);"
    data--150p-top-top="transform: translateX(-50%);">
    <!-- <div style="background-image:url(assets/images/small/coast.jpg);"></div>
    <div style="background-image:url(assets/images/small/palmtrees.jpg);"></div>
    <div style="background-image:url(assets/images/small/bay.jpg);"></div>
    <div style="background-image:url(assets/images/small/sea.jpg);"></div>
    <div style="background-image:url(assets/images/small/coast.jpg);"></div>
    <div style="background-image:url(assets/images/small/palmtrees.jpg);"></div>
    <div style="background-image:url(assets/images/small/bay.jpg);"></div> -->
    <!-- <div style="background-image:url(assets/images/small/sea.jpg);"></div> -->
    <div style="background-image:url(assets/logo/Barclays_logo.svg);  background-size: contain;"></div>
    <div style="background-image:url(assets/logo/dhl-1-logo-svg-vector.svg); background-size: contain;"></div>
    <div style="background-image:url(assets/img/razitko-autem.svg);"></div>
    <div style="background-image:url(assets/logo/logo_nn.png);"></div>
    <div style="background-image:url(assets/logo/logo-slavia-nove-neg-rgb.jpg); background-size: contain;"></div>
    <!-- <div style="background-image:url(assets/img/005.png);"></div> -->
    <div style="background-image:url(assets/img/razitko-letadlem.svg);"></div>
    <div style="background-image:url(assets/logo/FedEx_logo.png);"></div>
    <!-- <div style="background-image:url(assets/img/007.png);"></div>
    <div style="background-image:url(assets/img/008.png);"></div>
    <div style="background-image:url(assets/img/009.png);"></div> -->
  </div>


  <!-- <div class="row" data-anchor-target=".gallery" data-top-top="transform: translateX(-50%);"
    data--150p-top-top="transform: translateX(0);">

    <div style="background-image:url(assets/images/small/sea.jpg);"></div>

    <div style="background-image:url(assets/images/small/bay.jpg);"></div>

    <div style="background-image:url(assets/images/small/palmtrees.jpg);"></div>

    <div style="background-image:url(assets/images/small/coast.jpg);"></div>

    <div style="background-image:url(assets/images/small/sea.jpg);"></div>

    <div style="background-image:url(assets/images/small/bay.jpg);"></div>

    <div style="background-image:url(assets/images/small/palmtrees.jpg);"></div>

    <div style="background-image:url(assets/images/small/coast.jpg);"></div>

  </div> -->

</div>