<div class="parallax-image-wrapper" data-anchor-target=".features-list + .gap"
  data-bottom-top="transform:translateY(200%)" data-top-bottom="transform:translateY(0)">

  <div class="parallax-image" style="background-image:url(assets/img/bck/retro-abstract-desktop-wallpaper-64255-66423-hd-wallpapers.jpg)"
    data-anchor-target=".features-list + .gap" data-bottom-top="transform: translateY(-80%);"
    data-top-bottom="transform: translateY(80%);">

  </div>
</div>

<div class="features-list">

  <h2>Features</h2>

  <div data-100-bottom-top="transform: translateX(-200px); opacity: 0"
    data-center-top="transform: translateX(0px); opacity: 1">
    <i class="material-icons">build</i>
    <h4>Development <b>based on your needs</b></h4>
  </div>

  <div data-100-bottom-top="transform: translateY(200px); opacity: 0"
    data-center-top="transform: translateY(0px); opacity: 1">
    <i class="material-icons">sentiment_satisfied_alt</i>
    <h4>Solutions <b>for your satisfaction</b></h4>
  </div>

  <div data-100-bottom-top="transform: translateX(200px); opacity: 0"
    data-center-top="transform: translateX(0px); opacity: 1">
    <i class="material-icons">query_builder</i>
    <h4>Guaranteed <b>on-time delivery</b></h4>
  </div>

</div>

<div class="gap" style="background-image:url(assets/img/bck/retro-abstract-desktop-wallpaper-64255-66423-hd-wallpapers.jpg); "></div>